.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
}
img{ 
    width: 50px;
    
}
.redes{
    margin-right: 10px;
}
button{
    margin-left: 8px;
    border-Width: medium;
}

/*--celular--*/
@media(max-width: 575px){

.container{
    flex-direction: column;
    
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.redes img{ 
    margin: 0.2em;
}
}
