<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <div *ngIf="usuario">
      <img src={{usuario.fotoPerfil}} class="img-fluid" id="fotoperfil">
    </div>
  </div>
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <div *ngIf="usuario">
        <p id="nombre">{{usuario.nombre}} {{usuario.apellido}}</p>
        <p>{{usuario.titulo}}</p>
      </div>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>
        <div *ngIf="usuario">
          <h1>Acerca de mi</h1>
          <p>{{usuario.descripcion}}</p>
        </div>
      </span>
  </div>
 </div>

