.row{
    
    padding: 20px;
}
.botones{
    display: flex;
    margin-left: 25%;
  
   
}
.caja{
	margin-top: 10px;
	width: 100%;
	margin: 2px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	cursor: default;
	transition: all 400ms ease;
}
.caja:hover{
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 1) ;
	
	transform: translate3d(0px, -12px, -10px);
	border-radius: 15px;
	border-color: black;
	border-width: medium;
}