.row{
    background: #ffffff;
   
    text-shadow: 7px 4px 5px rgba(50, 62, 65, 0.884);
    
}
footer{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px rgb(124, 124, 124);

}