<div class="row">
    <h1>Hard & Soft skill</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/html.png'"
        [imageHeight]="70"
        [imageWidth]="65"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/CSS.png'"
        [imageHeight]="70"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/js.png'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/eng.png'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/git.png'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4"><circle-progress
        [percent]="90"
        [radius]="100"
        [showImage]="true"
        [imageSrc]="'../assets/grupal.png'"
        [imageHeight]="60"
        [imageWidth]="60"
        [showUnits]="false"
        [showSubtitle]="false"
        [titleFontSize]="'3em'"
        [outerStrokeWidth]="12"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="1000"
      ></circle-progress></div>
    

</div>