<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
         <h2>ProyectoX</h2>
         <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non et cupiditate excepturi ducimus adipisci earum, obcaecati nemo magnam veritatis eaque sequi minima rerum animi repellat corrupti quidem nesciunt, aliquid quam!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
         <img src="../../../assets/kisspng-android-diamant-koninkrijk-koninkrijk-csdn-user-in-red-rose-rockets-5aa9c21737bf89.6654584515210747112284.png" class="img-fluid img-proyecto">

        </div>
    </div>
</div>